*{ 
	margin: 0; padding: 0;
	box-sizing: border-box;
}
li{ list-style-type: none;}
body{
	width: 960px;
	margin: 0 auto;
	font-family: '맑은 고딕', Arial, sans-serif;
}
#location-nav{
	border-bottom: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 30px;
}
#product{
	overflow: hidden;
}
#product > .info{
	float: left;
	width: 320px;
}
#product > .info > h2{ margin-bottom: 15px;}
.price{ 
	display: block;
	margin-bottom: 15px;
}
.rank{ color: #0070c9;}
#lang{
	width: 100%;
	height: 34px;
	padding: 0px 10px;
	border-radius: 5px;
}
#product label{ 
	display: block;
	margin-top: 15px;
}
#product label > span{ 
	display: block;
	padding: 15px 0;
}
#product .btn-wrap{
	margin-top: 20px;
/*			border: 1px solid red;*/
}
#product .btn-wrap span{
	float: right;
	font-size: 26px;
	line-height: 26px;
	color:  #0070c9;
}
.btn{
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 400;
	font-family: Helvetica,Arial,sans-serif;
	background-color: #0070c9;
	background: linear-gradient(#42a1ec,#0070c9);
	border: 1px solid #07c;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	display: inline-block;
	width: 88%;
	padding-top: 3px;
	padding-bottom: 4px;
	text-align: center;		
}
.chat-content{ 
	margin: 20px 0;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}

/* 우측 제품 사진 영역*/
.photo {
	width: 640px;
	float: right;
	text-align: center;
}
.photo .large-img{ width: 520px;}